<mat-card class="flex h-full w-full">
    <mat-card-content>
        <tl-data-table [isRemote]="true"
                       [isSoftDeletable]="false"
                       [showInactiveRecords]="false"
                       [recordsPerPage]="recordsPerPage"
                       (addButtonClicked)="addClient()">
            <data-column [flexRate]="0.2"
                         propertyName="name"
                         columnName="{{ 'clients.name' | tlTranslate}}">
            </data-column>
            <data-column [flexRate]="0.1"
                         propertyName="email"
                         columnName="{{ 'clients.email' | tlTranslate}}">
            </data-column>
            <data-column [flexRate]="0.1"
                         propertyName="phone"
                         columnName="{{ 'clients.phone' | tlTranslate}}">
            </data-column>
            <data-template-column [flexRate]="0.1"
                                  [isSortable]="false">
                <ng-template ngx-datatable-cell-template
                             let-row="row">
                    <div class="flex flex-row flex-wrap justify-end items-center">
                        <button mat-icon-button
                                matTooltip="{{ 'clients.view-client' | tlTranslate }}"
                                matTooltipPosition="above"
                                matTooltipShowDelay="250"
                                class="cursor-pointer"
                                (click)="viewClient(row.id)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button
                                matTooltip="{{ 'clients.edit-client' | tlTranslate }}"
                                matTooltipPosition="above"
                                matTooltipShowDelay="250"
                                class="cursor-pointer"
                                (click)="editClient(row.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button
                                matTooltip="{{ 'clients.delete-client' | tlTranslate }}"
                                matTooltipPosition="above"
                                matTooltipShowDelay="250"
                                class="cursor-pointer"
                                (click)="deleteClient(row.id)">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>
                </ng-template>
            </data-template-column>
        </tl-data-table>
    </mat-card-content>
</mat-card>