<div class="dialog-padding" [formGroup]="form">
    <mat-card class="flex h-full w-full">
        <mat-card-title>
            {{ 'hotels.basic-information' | tlTranslate }}
        </mat-card-title>
        <mat-card-content class="flex flex-col gap-4">
            <div class="w-full flex flex-row justify-between items-center gap-4">
                <mat-form-field class="flex-1 md:w-1/3">
                    <mat-label>{{ 'hotels.name' | tlTranslate }}</mat-label>
                    <input matInput formControlName="nameControl" [required]="true">
                    <mat-error *ngIf="form.get('nameControl').hasError('required')">
                        {{ 'common.field-is-required' | tlTranslate }}
                    </mat-error>
                    <mat-error *ngIf="form.get('nameControl').hasError('maxlength')">
                        {{ 'common.field-has-max-length' | tlTranslate }}: {{
                        form.get('nameControl').errors.maxlength.requiredLength }}
                    </mat-error>
                </mat-form-field>

                <!-- locations -->
                <mat-form-field class="flex-1 md:w-1/3">
                    <mat-label>{{ 'hotels.location' | tlTranslate }}</mat-label>
                    <input matInput formControlName="locationControl" [matAutocomplete]="locationAutocomplete"
                        [required]="true">
                    <mat-error *ngIf="form.get('locationControl').hasError('required')">
                        {{ 'common.field-is-required' | tlTranslate }}
                    </mat-error>
                    <mat-error *ngIf="form.get('locationControl').hasError('selectedvaluefromdropdown')">
                        {{ 'common.value-from-dropdown-must-be-selected' | tlTranslate }}
                    </mat-error>
                    <mat-autocomplete #locationAutocomplete [autoActiveFirstOption]="true"
                        [displayWith]="autocompleteDisplayFunction">
                        <ng-container *ngFor="let option of filteredLocations">
                            <mat-option *ngIf="option.displayName ? option.isActive : true" [value]="option">
                                <span class="multiline-option">
                                    {{ option.displayName ? option.displayName : option }}
                                </span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>


                <div class="flex-1 md:w-1/3">
                    <mat-label>{{ 'hotels.stars' | tlTranslate }}</mat-label>
                    <div class="star-rating flex items-center gap-1" [ngClass]="{'readonly': viewMode}">
                        <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                            <mat-icon
                                [ngClass]="{
                                    'star-selected': (hoverStar ? hoverStar > i : (form.get('starsControl')?.value || 0) > i),
                                    'star-unselected': !(hoverStar ? hoverStar > i : (form.get('starsControl')?.value || 0) > i)
                                }"
                                (mouseenter)="!viewMode && setHoverStar(i+1)"
                                (mouseleave)="!viewMode && setHoverStar(0)"
                                (click)="!viewMode && selectStar(i+1)"
                                [style.cursor]="viewMode ? 'default' : 'pointer'"
                                >star</mat-icon>
                        </ng-container>
                    </div>
                    <mat-hint class="w-full ms-5">{{ form.get('starsControl')!.value }}</mat-hint>
                    <mat-error *ngIf="form.get('starsControl').hasError('required')">
                        {{ 'common.field-is-required' | tlTranslate }}
                    </mat-error>
                </div>


            </div>

            <div class="w-full flex flex-row justify-between items-center gap-4">

                <!-- agents -->
                <mat-form-field class="flex-1 md:w-1/3">
                    <mat-label>{{ 'hotels.agent' | tlTranslate }}</mat-label>
                    <input matInput formControlName="agentControl" [matAutocomplete]="agentAutocomplete"
                        [required]="true">
                    <mat-error *ngIf="form.get('agentControl').hasError('required')">
                        {{ 'common.field-is-required' | tlTranslate }}
                    </mat-error>
                    <mat-error *ngIf="form.get('agentControl').hasError('selectedvaluefromdropdown')">
                        {{ 'common.value-from-dropdown-must-be-selected' | tlTranslate }}
                    </mat-error>
                    <mat-autocomplete #agentAutocomplete [autoActiveFirstOption]="true"
                        [displayWith]="autocompleteDisplayFunction">
                        <ng-container *ngFor="let option of filteredAgent">
                            <mat-option *ngIf="option.displayName ? option.isActive : true" [value]="option">
                                <span class="multiline-option">
                                    {{ option.displayName ? option.displayName : option }}
                                </span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>


                <div class="flex-1 md:w-1/3">
                    <mat-slide-toggle formControlName="isTemporaryClosedControl" color="warn">
                        {{ 'hotels.isTemporaryClosed' | tlTranslate }}
                    </mat-slide-toggle>
                </div>

            </div>

            <div class="w-full flex flex-row justify-between items-center gap-4">
                <mat-form-field class="flex-grow">
                    <mat-label>{{ 'hotels.contacts' | tlTranslate }}</mat-label>
                    <input matInput formControlName="contactsControl" [required]="false" />
                    <mat-error *ngIf="form.get('contactsControl')!.hasError('required')">
                        {{ 'common.field-is-required' | tlTranslate }}
                    </mat-error>
                    <mat-error *ngIf="form.get('contactsControl')!.hasError('maxlength')">
                        {{ 'common.filed-has-max-length' | tlTranslate }}: {{
                        form.get('contactsControl')!.errors.maxlength.requiredLength }}
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>