@@ .. @@
     <nav class="mt-8">
       <a routerLink="/dashboard" routerLinkActive="sidebar-item-active" [routerLinkActiveOptions]="{exact: true}" class="px-6 py-2 text-gray-600 hover:bg-gray-100 cursor-pointer flex items-center block">
         <mat-icon class="mr-3">home</mat-icon>
         Табло
       </a>
-      <a routerLink="/bookings" routerLinkActive="sidebar-item-active" class="px-6 py-2 text-gray-600 hover:bg-gray-100 cursor-pointer flex items-center block">
+      <a routerLink="/reservations" routerLinkActive="sidebar-item-active" class="px-6 py-2 text-gray-600 hover:bg-gray-100 cursor-pointer flex items-center block">
         <mat-icon class="mr-3">event</mat-icon>
         Резервации
       </a>